{% extends "base.html" %}

{% block content %}

<div class="container">
    <div id="content">
        <div class="box-gutter"></div>
        <div class="box-sizer"></div>
        {% if image_list %}
            
            {% for image in image_list %}
                <div class="box">
                    <img src="{{image.url}}" title="{{ image.name }}"/>
                    <div class="image-desc">
                        <p>{% if image.desc != "" %} {{image.desc}} {% else %}No Description{% endif %}</p>
                    </div>
                </div>
            {% endfor %}
            
        {% else %}
            <h4>No images are available</h4>
        {% endif %}
        
    </div>
</div>

{% endblock content %}
